/* src/components/TrekCard.css */
.trek-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .trek-card:hover {
    transform: scale(1.05);
  }
  
  .trek-image {
    width: 29rem;
    height: 17rem;
  }
  
  
  .trek-details h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .trek-details p {
    margin: 10px 0;
  }
  
  .trek-button {
    background-color: #00f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .trek-button:hover {
    background-color: #005f99;
  }